name: CI/CD for Backend

on:
  push:
    branches:
      - workflow-back
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      # - name: Run tests #  砖 4: 专爪转 拽转 ( 砖)
      #   run: |
      #     pytest  # 专拽  砖  住, 驻砖专 住专  

      - name: Build Docker image
        run: |
          docker build -t my-backend:latest .

      - name: Push Docker image to Docker Hub
        run: |
          echo Aa123456! | docker login -u yadtamar --password-stdin
          docker tag my-frontend:latest yadtamar/back:latest
          docker push yadtamar/back:latest
